@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// some basic resets 

body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif; 
  
}

.container {
  margin: 20px;
  display: flex;
}

.background-primary {
	 background-color: #512da8;
}
 .background-accent {
	 background-color: #ffc107;
}
 .text-floral-white {
	 color: floralwhite;
}
 .flex-spacer {
	 flex: 1 1 auto;
}